* {
    margin: 0;
    padding: 0;
    outline: 0;
}
#logo {
    width: 250px;
}

#about_logo{
    max-width: 50%
}

#about_logo img{
    max-width: 75%;
    max-height: 100%;
}

body {
    background-image: linear-gradient(to right, #58626b, #343A40) !important;
    color: white !important;
}

.project_img{
    max-width: 300px;
}

#about_info{
    max-height: 60%;
}