<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex align-items-center justify-content-between px-4 bg-primary" id="navbar">
        <div class="d-flex align-items-center">
            <a href="/dashboard"><img id="logo" src="{% static 'img/devtank_logo_4.png' %}" alt="devtank home page"></a>
            <p class="mt-3">
                <a class="text-white" href="/dashboard">Home</a><span>  |  </span>
                <a class="text-white" href="/about">About Us</a>
            </p>
        </div>
        <p class="mt-3">
            <a class="text-white" href="#">Search</a><span>  |  </span>
            <a class="text-white" href="#">Messages</a><span>  |  </span>
            <a class="text-white" href="#">Upload Project</a>
        </p>
        <p class="mt-3">
            <a class="text-white" href="#">My Account</a><span>  |  </span>
            <a class="text-white" href="/logout">Log Out</a>
        </p>
    </div>

    <div class="info">
        <h2>What's DevTank?</h2>
        <h4>DevTank is a platform for connecting developers and clients in search of projects.</h4>
        <p>Are you a developer with multiple projects/apps or games just sitting on your hard drive taking up space? Do you love creating new things but get stuck with how to present them to the world? Then DevTank is the place for you!</p>
        <p>Are you someone who is always on the eye for the next big thing in the tech world? Are you looking for additional projects/apps or games to add to your portfolio? Are you ready to launch your next venture but still in search for the perfect opportunity? Look no further than the top rated or newest projects added to DevTank!</p>
        <a href="/login_reg">Sign up here today!</a>
    </div>

    <div class="faq">
        <h2>Frequently Asked Questions</h2>
        <ul>
            <li>What's Client?</li>
            <li>What's A Dev?</li>
            <li>Does it cost money to sign up?</li>
            <li>Do I still own my project?</li>
            <li>What happens if a client wants to buy my project?</li>
            <li>What if I decide I don't want to sell my project?</li>
            <li>What if the project isn't finished or needs some changes?</li>
        </ul>
    </div>

</body>

</html>