<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <!-- navbar -->
    <div id="navbar" class="d-flex align-items-center justify-content-between px-4 bg-primary">
        <div class="d-flex align-items-center">
            <a href="/dashboard"><img id="logo" src="{% static 'img/devtank_logo_4.png' %}" alt="devtank home page"></a>
            <p class="mt-3">
                <a class="text-white" href="/dashboard">Home</a>
                <span>  |  </span>
                <a class="text-white" href="/about">About Us</a>
                <span>  |  </span>
                <a class="text-white" href="/search">Search By Category</a>
            </p>
        </div>
        {% if 'role' in request.session %}
            {% if request.session.role == 'dev' %}
                <p class="mt-3">
                    <a class="text-white" href="/message/{{request.session.dev_id}}/inbox">Messages</a>
                    <span>  |  </span>
                    <a class="text-white" href="/add_project">Upload Project</a>
                </p>
                <p class="mt-3">
                    <a class="text-white" href="/devs/{{dev.id}}">{{dev.alias}}</a>
                    <span>  |  </span>
                    <a class="text-white" href="/logout">Log Out</a>
                </p>
            {% endif %}
            {% if request.session.role == 'client' %}
                <p class="mt-3">
                    <a class="text-white" href="/message/{{request.session.client_id}}/inbox">Messages</a>
                </p>
                <p class="mt-3">
                    {{client.alias}}<a class="text-white" href="/logout">Log Out</a>
                </p>
            {% endif %}
        {% else %}
            <a class="text-white" href="/login_reg">Log In</a>
        {% endif %}
    </div>
    <!-- end navbar -->
    {% load class_name %}
    {% block content %}

    <div class='row title-row my-5'>
        <div class='col-12 py-0'>
            <h3 class='my-0 py-0'>{{ count }} results for <b>{{ query }}</b></h3>
        </div>
    </div>
            
            
    {% for object in object_list %}
        {% with object|class_name as klass %}
            {% if klass == 'Post' %}
                <div class='row'>
                    <div class='col-12'>
                        Blog post: <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
                    </div>
                </div>

            {% elif klass == 'Lesson' %}
                <div class='row'>
                    <div class='col-12'>
                        Lesson Item: <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
                    </div>
                </div>
            
            {% elif klass == 'Profile' %}
                <div class='row'>
                    <div class='col-12'>
                        Lesson Item: <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
                    </div>
                </div>
            {% else %}
                <div class='row'>
                    <div class='col-12 col-lg-8 offset-lg-4'>
                        <a href='{{ object.get_absolute_url }}'>{{ object }} | {{ object|class_name }}</a>
                    </div>
                </div>
            {% endif %}
            
        {% endwith %}
        
    {% empty %}
    <div class='row'>
        <div class='col-12 col-md-6 mx-auto my-5 py-5'>
        <form method='GET' class='' action='.'>
        
            <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
                <span class="input-group-addon cfe-nav" style='color:#000'>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <input type="text" name="q" data-toggle="popover" data-placement="bottom" data-content="Press enter to search" class="form-control cfe-nav mt-0 py-3" placeholder="Search..." value="" style="" data-original-title="" title="" autofocus="autofocus">
            </div>

        </form>

        </div>
    </div>
    {% endfor %}
    {% endblock content %}
</body>
</html>