<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <nav>
            <h1>DevTank</h1>
            <p>Welcome, {{user.alias}} </p>
            <div class="header">
                <a href="/logout">Logout</a>
            </div>
            <hr>
        </nav>

        <div class="main">
            <div class="about_me_row">
                <div class="about_me">
                    <h3>About Me</h3>
                    <div>
                        <img class='rounded-circle' style='height: 100px; width: 100px; box-shadow: 3px 3px 10px lightblue;' src="{{user.profile_pic}}"
                            alt="profile pic">
                        <p id="about_me_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, numquam
                            recusandae rerum nisi voluptate animi libero sunt a quaerat quasi, esse alias asperiores
                            labore autem rem earum reiciendis. Repudiandae, unde!</p>
                    </div>
                </div>
                <a href="/add_project">Upload Project</a>
            </div>
            <div class="show_project_row">
                <div class="your_projects">
                    <h4>Your Projects</h4>
                    <!-- for loop here -->
                    <a href="#">Project Name</a>
                    <!-- endfor -->
                </div>
                <div class="show_projects">
                    <h4>Show Projects</h4>
                    <img src="#" alt="Project Picture">
                </div>
                <div class="stats">
                    <p>Total Projects Area</p>
                    <p>Total Views Area</p>
                    <p>Total something area</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>