<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<style>
    .main {
        display: flex !important;
        justify-content: space-around !important;
    }
</style>

<body>

    <img src="{{ all_projects.first.project_pics.first.image }}" alt="">

    <nav>
        <h3>DevTank</h3>
        <p>Welcome, {{user.alias}} </p>
        <div class="header">
            <a href="/inbox/{{user.id}}">Inbox</a>
            <a href="/logout">Logout</a>
        </div>
        <hr>
    </nav>
    <div class="about_me_row">
        <a href="/add_project">Upload Project</a>
    </div>

    <div class="main">

        {% if user == dev  %}
        <div class="your_projects">
            <h4>My Projects</h4>
            {% for project in my_projects.all %}
            <p><a href="/projects/{{project.id}}">{{project.name}}</a></p>
            {% endfor %}
        </div>

        <div class="all_projects">
            <h4>All Projects</h4>
            {% for project in all_projects %}
            <p>{{project.id}}</p>
            <img src="/media/project_pics/photo-1494253109108-2e30c049369b.jpg" alt="Project Picture">
            <h5><a href="/projects/{{project.id}}">{{project.name}}</a></h5>
            <p>{{ project.pitch }}</p>
            <h5><a href="/devs/{{project.creator.id}}">{{project.creator.alias}}</a></h5>
            <p>Watchers: {{project.watchers | length}}</p>
            <form action="/delete_project/{{project.id}}" method="post">
                {% csrf_token %}
                <button>Delete</button>
            </form>
            {% endfor %}
        </div>
        <div class="stats">
            <p>Total Projects: {{ my_projects | length }}</p>
            <p>Total Views:</p>
        </div>


        {% else %}
        <a href="/inbox/{{user.id}}">Send Message</a>
        <div class="your_watchlist">
            <h4>My Watchlist</h4>

            {% for project in my_watchlists.all %}
            <p><a href="/projects/{{project.id}}">{{project.name}}</a></p>
            {% endfor %}

        </div>
        <div class="all_projects">
            <h4>All Projects</h4>
            {% for project in all_projects %}
            <img src="/media/project_pics/photo-1494253109108-2e30c049369b.jpg" alt="Project Picture" style = 'height:200px; width: 200px;'>
            <h5><a href="/projects/{{project.id}}">{{project.name}}</a></h5>
            <p>{{ project.pitch }}</p>
            <p><a href="/devs/{{project.creator.id}}">{{ project.creator.alias }}</a></p>
            <p>Watchers: {{project.watchers | length }}</p>
            <!-- <form action="/delete_project/{{project.id}}" method="post">
                {% csrf_token %}
            <button>Delete</button>
            </form> -->

            <a href="/add_to_watchlist/{{project.id}}"><button class='btn btn-outline-success'>Add to
                    Watchlist</button></a>
            <a href="/remove_from_watchlist/{{project.id}}"><button class='btn btn-outline-danger'>Remove from
                    Watchlist</button></a>
            <br>
            <hr>
            {% endfor %}
        </div>
        <div class="stats">
            <p>Total Projects: {{ my_projects | length }}</p>
            <p>Total Views:</p>
        </div>
        {% endif %}
    </div>

</body>

</html>