<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<style>
    .main {
        display: flex;
        justify-content: space-between;
    }
</style>

<body>

    <nav>
        <h3>DevTank</h3>
        <p>Welcome, {{dev.alias}} </p>
        <div class="header">
            <a href="/dashboard">Dashboard</a>
            <a href="/inbox/{{user.id}}">Inbox</a>
            <a href="/logout">Logout</a>
        </div>
        <hr>
    </nav>


    <div class="about_me_row">
        <div class="about_me">
            <h3>{{dev.alias}}</h3>
            <div>
                <img class='rounded-circle' style='height: 100px; width: 100px; box-shadow: 3px 3px 10px lightblue;'
                    src="/media/default.png" alt="profile pic">
                <p id="about_me_text">{{ dev.fname }}</p>
                <p>Bio: </p>
            </div>
        </div>
        <a href="/add_project">Upload Project</a>
        <a href="/inbox/{{user.id}}">Send Message</a>
    </div>

    <div class="main">
        <div class="your_projects">
            <h4>My Projects</h4>
            {% for project in dev.developed_by.all %}
            <p><a href="/projects/{{project.id}}">{{project.name}}</a></p>
            {% endfor %}
        </div>
        <div class="show_projects">
            <h4>Show Project</h4>
            <img src="#" alt="Project Picture">
        </div>
        <div class="stats">
            <p>Total Projects: {{ dev.developed_by.all | length }}</p>
            <p>Total Views:</p>
        </div>
    </div>

</body>

</html>