<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Edit Project</title>
</head>
<body>
    <nav>
        <h1>DevTank</h1>
        <p>Welcome, {{user.alias}} </p>
        <div class="header">
            <a href="/dashboard">Dashboard</a>
            <a href="/inbox">Inbox</a>
            <a href="/logout">Logout</a>
        </div>
        <hr>
    </nav>
    <div class="main">
        <h1>Upload Your Project</h1>
        <form action="/edit_project/{{ project.id }}" method="post">
            {% csrf_token %}
            <div>
                <label for="proj_name">Project Name</label>
                <input type="text" name="proj_name" value="{{ proj.name }}">
            </div>
            <div>
                <label for="quick_pitch">Quick Pitch</label>
                <input type="text" name="pitch" value="{{ proj.pitch }}">
            </div>
            <div>
                <label for="desc">Description</label>
                <input type="text" name="desc" value="{{ proj.desc }}">
            </div>
            <div>
                <label for="category">Category</label>
                <select name="category" id="proj_category">
                    <option value="Business">Business</option>
                    <option value="Education">Education</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Fitness">Fitness</option>
                    <option value="Finance">Finance</option>
                    <option value="Games">Games</option>
                    <option value="Music">Music</option>
                    <option value="Productivity">Productivity</option>
                </select>
            </div>
            <div>
                <label for="price">Price</label>
                <input type="number" name="price" id="price" value="{{ proj.price }}">
            </div>
            <button class = 'btn btn-outline-success ml-2 mt-2'>Upload Project</button>
        </form>
    </div>
</body>
</html>