<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<style>
    .main {
        display: flex !important;
        justify-content: space-around !important;
    }
</style>

<body>
    <div class="d-flex align-items-center justify-content-between px-4 bg-primary" id="navbar">
        <div class="d-flex align-items-center">
            <a href="/"><img id="logo" src="{% static 'img/devtank_logo_4.png' %}" alt="devtank home page"></a>
            <p class="mt-3">
                <a class="text-white" href="/dashboard">Home</a><span> | </span>
                <a class="text-white" href="/about">About Us</a><span> | </span>
                <a class="text-white" href="/search">Search By Category</a>
            </p>
        </div>

        <p class="mt-3">
            <a class="text-white" href="/inbox">Messages</a>
            {% if request.session.role == 'dev' %}
            <span> | </span>
            <a class="text-white" href="/add_project">Upload Project</a>
            {% endif %}
        </p>
        <p class="mt-3">
            <a class="text-white" href="">{{user.alias}}</a><span> | </span>
            <a class="text-white" href="/logout">Log Out</a>
        </p>
    </div>

    <div class="inbox">
        <h3>Messages:</h3>
    </div>
    <div class="new">
        {% if request.session.role == 'client' %}
        <form action="/new" method="POST">
            {% csrf_token %}
            <label for="new_chat">New Chat</label>
            <select name="dev_chat">
                {% for dev in all_devs %}
                <option value="{{dev.id}}">{{dev.alias}}</option>
                {% endfor %}
            </select>
            <input type="text" name="text" id="text">
            <input type="hidden" name="starter" value='{{user.id}}'>
            <button type="submit" class='btn btn-success'>Submit</button>
        </form>
        {% endif %}
    </div>

    <div class="all_chats" style='margin-left: 100px;'>
        {% for message in sent_messages.all %}
        <p>{{message.starter.alias}} said: {{message.text}}</p>
            {% for reply in message.comments.all %}
                {% if reply.dev_replier %}
                    <p>{{reply.dev_replier.alias}} said: {{reply.post}}</p>
                {% elif reply.client_replier %}
                    <p>{{reply.client_replier.alias}} said: {{reply.post}}</p>
                {% endif %}
            {% endfor %}

        <form action="/new_reply/{{message.id}}" method="POST">
            {% csrf_token %}
            <input type="text" name="text" id="text">
            <input type="hidden" name="message_id" value='{{message.id}}'>
            <button type="submit" class='btn btn-info'>Reply</button>
        </form>
        <hr>
        {% endfor %}
    </div>

</body>

</html>