<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>DevTank</title>
</head>

<body>
    <nav>
        <h3>DevTank</h3>
        <div class="header">
            <a href=/about>About</a>
            <a href="/login_reg">Login</a>
        </div>
        <hr>
    </nav>

    <div class="feature">

        {% for project in all_projects %}
            <img src="{{project.project_pics.image}}" alt="Project Picture">
            <h5><a href="/login_reg">{{project.name}}</a></h5>
            <p>{{ project.pitch }}</p>
            <p>{{ project.creator.alias }}</p>
            <p>Watchers: {{project.watchers | length }}</p>
        {% endfor %}

    </div>

    <div class="content">

        <div class="stories">
            <ul>
                <li>Developer: George - "My good buddy Jin and I created the coolest game and we didn't know what to do
                    next. We posted it on DevTank and the project sold within 72 hours! We both earned enough money to
                    pay our mortgage the following month and hopefully there will be even to come when the client
                    launches the game to the public!"</li>
                <li>Client: Wyatt - "I had just gotten my MBA from Harvard and was ready to put everything I learned to
                    use. I came to DevTank and found so many incredible ideas. My productivity app, GoTo launched last
                    month in a beta version and we already have 10K monthly users. I'm so glad I found this app to
                    launch on DevTank!</li>
                <li>Developer: Will - "I just found DevTank and have already loaded 3 of my projects onto it. I was
                    pretty skeptical at first, but I've already had 5 different clients reach out to me about my ideas.
                    I'm so excited to see where these conversations go!</li>
            </ul>
        </div>
        <div class="categories">
            <!-- {% for project in project.categories.all %} -->

            <a href="/category_search_button"><button
                    style='border-radius: 10px solid black; background-color: beige;'>{{project.category}}</button></a>
            <!-- {% endfor %} -->

            <a href="/category_search_button/{{project.category}}"><button
                    style='border-radius: 10px solid black; background-color: beige;' value = "Business">Business</button></a>
            <a href="/category_search_button/{{project.category}}"><button
                    style='border-radius: 10px solid black; background-color: beige;' value = "Education">Education</button></a>
            <a href="/category_search_button/{{project.category}}"><button
                    style='border-radius: 10px solid black; background-color: beige;' value = "Entertainment">Entertainment</button></a>
            <a href="/category_search_button/{{project.category}}"><button
                    style='border-radius: 10px solid black; background-color: beige;' value = "Fitness">Fitness</button></a>
            <a href="/category_search_button/{{project.category}}"><button
                    style='border-radius: 10px solid black; background-color: beige;' value = "Finance">Finance</button></a>
            <a href="/category_search_button/{{project.category}}"><button
                    style='border-radius: 10px solid black; background-color: beige;' value = "Games">Games</button></a>
            <a href="/category_search_button/{{project.category}}"><button
                    style='border-radius: 10px solid black; background-color: beige;' value = "Music">Music</button></a>
            <a href="/category_search_button/{{project.category}}"><button
                    style='border-radius: 10px solid black; background-color: beige;' value = "Productivity">Productivity</button></a>

        </div>

    </div>
</body>

</html>