<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<style>
    .main {
        display: flex !important;
        justify-content: space-around !important;
    }
</style>



<body>
    <!-- navbar -->
    <div id="navbar" class="d-flex align-items-center justify-content-between px-4 bg-primary">
        <div class="d-flex align-items-center">
            <a href="/dashboard"><img id="logo" src="{% static 'img/devtank_logo_4.png' %}" alt="devtank home page"></a>
            <p class="mt-3">
                <a class="text-white" href="/dashboard">Home</a>
                <span>  |  </span>
                <a class="text-white" href="/about">About Us</a>
                <span>  |  </span>
                <a class="text-white" href = '/search'>Search By Category</a>
            </p>
        </div>
        {% if 'role' in request.session %}
            {% if request.session.role == 'dev' %}
                <p class="mt-3">
                    <a class="text-white" href="/inbox">Messages</a>
                    <span>  |  </span>
                    <a class="text-white" href="/add_project">Upload Project</a>
                </p>
                <p class="mt-3">
                    <a class="text-white" href="/devs/{{user.id}}">{{user.alias}}</a>
                    <span>  |  </span>
                    <a class="text-white" href="/logout">Log Out</a>
                </p>
            {% endif %}
            {% if request.session.role == 'client' %}
                <p class="mt-3">
                    <a class="text-white" href="/inbox">Messages</a>
                </p>
                <p class="mt-3">
                    {{client.alias}}<a class="text-white" href="/logout">Log Out</a>
                </p>
            {% endif %}
        {% else %}
            <a class="text-white" href="/login_reg">Log In</a>
        {% endif %}
    </div>
    <!-- end navbar -->
    <div id="main_proj_upload" class="col w-50 mx-auto">
        <h1 class="text-center m-3">Upload Your Project</h1>
        <form action="/create_project" method="post">
            {% csrf_token %}
            <input type="hidden" value={{project.id}} name="project_id">
            <input class="form-control my-2" type="text" name="proj_name" placeholder="Project Name" required>
            <input class="form-control my-2" type="text" name="quick_pitch" placeholder="Quick Pitch" required>
            <textarea class="form-control my-2" name="desc" cols="30" rows="5" placeholder="Project Description" required></textarea>
            <div class="row">
                <div class="col">
                    <label for="proj_category">Category</label><br>
                    <select class="form-control my-2" name="category" id="proj_category" required>
                        <option value="Business">Business</option>
                        <option value="Education">Education</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Fitness">Fitness</option>
                        <option value="Finance">Finance</option>
                        <option value="Games">Games</option>
                        <option value="Music">Music</option>
                        <option value="Productivity">Productivity</option>
                    </select>
                </div>
                <div class="col">
                    <label for="price">Price</label><br>
                    <input class="form-control my-2" type="number" name="price" id="price" placeholder="$0" required>
                </div>
            </div>
            <button class='btn btn-outline-success my-3'>Upload Project</button>
                <p>(upload picture on next page)</p>
        </form>
        {% if messages %}
            <ul style="color:red">
                {% for msg in messages %}
                    <li>{{msg}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>

</html>